- if notice
  .aside#notice= notice

%h1 Your Pragmatic Catalogue

%ul.catalog
  - cache @products do
    - @products.each do |product|
      - cache product do
        %li= image_tag(product.image_url)
        %h2= product.title
        %p= sanitize(product.description)
        .price= number_to_currency(product.price)
        = button_to 'Add to Cart', line_items_path(product_id: product.id), remote: true