!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Pragprog Books Online Store
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %header.main
      = image_tag 'logo.svg', alt: 'The Pragmatic Bookshelf'
      %h1= @page_title
    %section.content
      %nav.side_nav
        %ul
          %li= link_to 'Home', '/'
          %li= link_to 'Questions', '/questions'
          %li= link_to 'News', '/news'
          %li= link_to 'Contact', '/contact'
      %main{ class: "#{controller.controller_name}" }
        = yield